

/* BOTONES */
.instructor{
    width: max-content;
    cursor: url(/imagenes/mano-cursor.png),auto;
    background-color: transparent;
}
.instructor img{
  width: 150px;
  height: 250px;
  background-color: transparent;
}

.comunicarse{

}
.comunicarse a{
  text-decoration-line: none;

}
.icono{
  margin-top: 300px;
  width: auto;

}
.icono img{
  width: 350px;
}


/* FOOTER */